* {
	font-family: 'Teko', sans-serif;
	/*margin: 0;
	padding: 0;
	box-sizing: content-box;*/
}

/*html.sr #jumbotron {
    visibility: hidden;
}*/

/*NAVBAR*/
#navbar {
	/*opacity: 0.9;*/
	background-color: #252932;
	position: sticky;
}

#navbar-brand {
	color: #F18A00;
	font-size: 1.5rem;
	font-stretch: expanded;
}
#navbar-brand::after {
	content: "MNL";
	color: #AECEF5;
	font-size: .75rem;
	font-stretch: expanded;
}


#nav-links {
	color: #F18A00;
}

#nav-links:hover {
	filter: brightness(0.6);
	transition-duration: .5s;
}

/*JUMBOTRON*/
#jumbotron-fonts {
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
}

#jumbotron-brand {
	font-family: 'Poppins', sans-serif;
	font-size: 4rem;
	font-weight: 700;
	font-stretch: ultra-expanded;
	color: #F18A00;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2D3340;

}

#jumbotron-brand::after {
	content: "MNL.";
	color: #2D3340;
	/*text-align: center;*/
}

#jumbotron {
	height: 70vh;
	background: rgba( 174, 206, 245, 0.2 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px );
	border-radius: 1px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	filter: contrast(110%);

}


@keyframes background-home {
    0%{background-position:40% 50%}
    50%{background-position:90% 50%}
    100%{background-position:40% 50%}
}


#banner {
	background-image: url(./images/banner-bg.png);
	background-size: cover;
	-webkit-animation: background-home 30s ease infinite;

	/*width: 100vw;*/
}


/*REGISTER*/
#register-password {
	position: relative;
    z-index: 1;
}
#register-password::after {

	content: " should be at least 8 characters.";
	color: #2D3340;
	font-size: .60rem;
}

/*PRODUCTS*/
#bg {
	background: linear-gradient(217deg, #868599, #FFFFFF, #F9DC5C);
    background-size: 600% 600%;

    animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:50% 50%}
    50%{background-position:80% 50%}
    100%{background-position:50% 50%}
}
#product-text, #product-description, #product-button {
	font-family: 'Poppins', sans-serif;
}

#product-description {
	color:  #3B3B40;
	font-size:  .75rem;
}

#product-card {
	background: rgba( 168, 208, 245, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 7px );
	-webkit-backdrop-filter: blur( 7px );
	border-radius: 20px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#product-button {
	border-radius: 5px;
	margin-right: 10px;

}

#product-button:hover {
	/*border-radius: 00px;*/
	filter: brightness(0.7);
	transition-duration: 2s;
}


/*ADMIN VIEW*/
#image-admin {
	image-rendering: optimizeSpeed;
	width: 200px;
}

.update-btn {
	color: #F18A00;
	background-color: #2D3340;
	width: 100px;
	margin-bottom: 10px;
}

#delete-btn {
	color:#ff1231;
	background-color:  #2E1F27;
}

#delete-btn:hover {
	color:#2E1F27;
	background-color:  #ff1231;
	transition-duration: 0.5s;
}

.enable-btn {
	color: black;
	background-color: gray;
	width: 100px;
	margin-bottom: 10px;
}

.enable-btn:hover {
	color: white;
	background-color: green;
	transition-duration: 0.5s;
}

.update-btn:hover {
	color:#2D3340;
	background-color:  #F18A00;
	transition-duration: 0.5s;
}

#add-product-btn {
	width: 100%;
	border-radius: 5;
}

#admin-user-btn {
	width:  200px;

}

#admin-delete-btn {
	width:  200px;
	margin-left: 5px;
}
#regular-role{
	color: red;
}

#admin-role{
	color: blue;
}